<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<ons-page ng-controller="PromotionController">
  <!-- メニュー上部のツールバー -->
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="back_page($event);">
        <i class="fa fa-music"></i>&nbsp;&nbsp;楽器
      </ons-toolbar-button>
    </div>
    <div class="center">このアプリについて</div><!-- ページタイトル -->
    <div class="right"><!-- サイドバーを開くボタン -->
      <ons-toolbar-button ng-click="menu.toggleMenu()">
        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <!-- end/メニュー上部のツールバー -->

	<div class="app">
		<div id="wrapper">
			<div id="contents">
				<div class="container">
					
					<div class="grid main">
						<div class="m_ttl"><img src="./img/logo_promo.png"></div>
						<div class="m_phone"><img src="./img/iphone.png"></div>
						<div class="m_sub_ttl">謎の楽器</div>
						<div class="m_sub_ttl_ex">謎の楽器を使って<br />みんなで大演奏会だ!</div>
						<div class="dl">
							<div class="down1"><a href="#"><img src="./img/down1.png"></a></div>
							<div class="down1 s_down"><a href="#"><img src="./img/down2.png"></a></div>
						</div><!--grid res2-->
					</div><!--grid main-->
					<div class="cfx"></div>

					<div class="grid res1">
						<div class="del">みんなで一緒にスマホを使って演奏しよう！<br/>スマホを振るといろんな楽器の音がなるよ！<br/>君は全部わかるかな！？
						</div>
						<div class="del2">
							<img src="img/mon.png">
							<img src="img/huru.png">
						</div>
					</div><!--grid res1-->
					<div class="cfx"></div>

					<div class="grid res2">
						<div class="down"><a href="#"><img src="./img/down1.png"></a></div>
						<div class="down s_down2"><a href="#"><img src="./img/down2.png"></a></div>
					</div><!--grid res2-->
					<div class="cfx"></div>

					<div class="grid res3">
						<div class="grid g2 g21">
							<div class="gimg"><img src="./img/rej1.png"></div>
							<div class="sell">
								<h2>謎の楽器を選ぶ</h2>
								<p>いろいろな楽器が隠れているよ！<br/>子どもが簡単に演奏したい楽器を選ぶことができるんだ！<br/>君は全部の楽器がわかるかな！？さぁ！「音楽祭」でフー達と一緒に演奏しよう!</p>
							</div>
							<div class="cfx"></div>
						</div>

						<div class="grid g2">
							<div class="gimg"><img src="./img/rej2.png"></div>
							<div class="sell">
								<h2>セントレアフレンズ</h2>
								<p>一緒に演奏をしてくれる友達を紹介するよ！皆んな個性的なキャラクターばっかりだから覚えてあげてね！<br/>さぁ！一緒に演奏会だ！</p>
							</div>
							<div class="cfx"></div>
						</div>

						<!-- <div class="grid g2">
							<div class="gimg"><img src="./img/rej3.png"></div>
							<div class="sell">
								<h2>セントレアMAP</h2>
								<p>空港内の施設の案内図を見て、行きたいお店を探そう!<br/>もしかしたらフーやフーの仲間達と会えるかも！？美味しいお店もたくさんあるよ！</p>
							</div>
							<div class="cfx"></div>
						</div> -->
					</div><!--grid res3-->

					<div class="cfx"></div>
				</div><!--/container-->
			</div><!--/contents-->
		</div><!--/wrapper-->

		<div id="footer">
			<footer>
				<p class="ft">Copyright Central Japan International Airport Co., Ltd.</p>
			</footer>
		</div><!--/footer-->

	</div><!--/app-->
  <link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/promotion.css">
</ons-page>