@charset "utf-8";


body {
	line-height: 1.5;
	/*font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;*/
	font-family: Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}


/****** レイアウト モバイルファースト*******************************/
/*スマホサイズ設定　0 to 479px */

#wrapper {
	width: 100%;
}

#header {
	min-width: 320px;
	margin-top:60px;
}

#header header {
	margin: 0 auto;
	padding-left:20px;
}

#contents {
	margin: 0 auto;
	overflow: hidden;
	min-width: 320px;
}

#contents .container {
	margin: 0 auto;
	overflow: hidden;
}

/*グリッド幅設定*/

.grid {
	float: left;
	margin: 10px;
	overflow: hidden;
}
.grid img{
	max-width: 100%;
}
	

.g1 {
	width: 300px;
	height: 140px;
}

.g2 {
	width: 300px;
	height: 300px;
}
	

.g3 {
	width: 140px;
	height: 140px;
}


#footer {
	min-width: 320px;
	padding-left:20px;
}

#footer footer {
	margin: 0 auto;
	height: 120px;
}

#header header,
#contents .container,
#footer footer {
	width: 320px;
}



/****** メディアクエリ設定 *******************************/

@media only screen and (min-width: 480px) {/* スマホ横向き設定 */

#header {
	min-width: 480px;
}

#contents {
	min-width: 480px;
}

/*グリッド幅設定*/

.g2 {
	width: 460px;
}

#footer {
	min-width: 480px;
}

#header header,
#contents .container,
#footer footer {
	width: 480px;
}

}


@media only screen and (min-width: 768px) {/* タブレットサイズ設定 */

#header {
	min-width: 640px;
}

#contents {
	min-width: 640px;
}

/*グリッド幅設定*/

.g2 {
	width: 460px;
}

#footer {
	min-width: 640px;
}

#header header,
#contents .container,
#footer footer {
	width: 640px;
}

}


@media only screen and (min-width: 1024px) {/* デスクトップサイズ設定 */

#header {
	min-width: 960px;
}

#contents {
	min-width: 960px;
}

#footer {
	min-width: 960px;
}

#header header,
#contents .container,
#footer footer {
	width: 960px;
}

}
