@charset "utf-8";

*{
	margin:0;
	padding:0 auto;
}

body{
	width:300px;
	height:480px;

}

.cFix{
	clear: both;
}

#wrapper{
	background-color: red;
	width:300px;
	height:480px;
	overflow:scroll;
	position:relative;
}

header{
	margin-top:10px;
}
h3{
	margin-left:10px;
}

article{
	margin-left:10px;
}

.tenpo_img{
	width:275px;
	height:300px;
	background-color: green;
}

.detail{
	width:280px;
}

.sam{
	width:100px;
	height:100px;
	float:left;
	background-color: green;

}
.info{
	float:left;
	margin-top:10px;
	margin-left:10px;
	height:100px;
	width:180px;
}

.syouhin{
	margin-top: 20px;
}

nav{
	width:280px;
	position:fixed;
	top:450px;
	left:0;
}




