/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@charset"utf-8";
html,body {
	margin: 0;
	padding: 0;
	height: 480px;
}

#wrapper {
	height: 100%;
	background-repeat:repeat;
    background-position:left;
    background-image:url("../img/haikei.gif");
}

ons-toolbar {
	width: 100%;
	height: 50px;
	background-color: white;
}

ons-toolbar img {
	margin-left: 10px;
	height: 35px;
	margin-top: 5px;
}

#main {
	width: 260px;
	height: 380px;
	margin: -40px auto 0;
}

.title {
	border-bottom: solid 1px;
	width: 100px;
}

.shop img {
	width: 280px;
}

.businesshours {
	font-size: 11px;
}

.menu {
	font-size: 11px;
}

.menu img {
	width: 120px;
	float: left;
	margin-right: 5px;
}

.menu_name {
	font-size: 15px;
}