@charset"utf-8";

html,body {
	margin: 0;
	padding: 0;
}

#wrapper {
	height: 100%;
}

#main {
	width: 280px;
	padding:0 10px;
	height: 100%;
	margin: 0 auto;
	background-color: #02AEDC;
	color: white;
}

.title {
	border-bottom: solid 1px;
	width: 100px;
}

.shop img {
	width: 280px;
}

.businesshours {
	font-size: 11px;
}

.menu {
	font-size: 11px;
}

.menu img {
	width: 120px;
	float: left;
	margin-right: 5px;
}

.menu_name {
	font-size: 15px;
}