<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="onsen/css/onsenui.css"/>
        <link rel="stylesheet" href="onsen/css/onsen-css-components.css"/>
        <link rel="stylesheet" href="css/index.css">
        <title>CentrairApp</title>
    </head>
    <body ng-controller="AppController">
        <!-- メニュー定義 -->
        <ons-sliding-menu
          main-page="index.html"
          menu-page="menu.html"       
          side="right"
          max-slide-distance="250px"
          var="menu">
        </ons-sliding-menu>
        <!--end/メニュー定義 -->

        <!-- 楽器ページの内容 -->
        <ons-template id="index.html">
            <ons-page>
                <!-- メニュー上部のツールバー -->
                <ons-toolbar>
                    <div class="right"><!-- サイドバーを開くボタン -->
                        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
                    </div>
                    <div class="center">Title</div><!-- ページタイトル -->
                </ons-toolbar>
                <!-- end/メニュー上部のツールバー -->
                <!-- サウンド読み込み -->
                <audio id="audio">
                   <source src="sound/cym03.mp3">
                </audio><br>
                <!-- end/サウンド読み込み -->
                
                <div class="app">
                    <h1>Apache Cordova</h1>
                    <div id="deviceready" class="blink">
                        <p class="event listening">Connecting to Device</p>
                        <p class="event received">Device is Ready</p>
                    </div>
                    <div id="btnBox">
                        <!--<button id="start" class="btn">Start Watching!</button>
                        <button id="stop" class="btn">Stop Watching!</button>-->
                        <button id="sound" value="play">音を鳴らす(シンプル)</button><br>
                        <button id="start">音を鳴らす(加速度)</button><br>
                        <a href="shop.html">店舗一覧</a>
                        <!-- AngularjsのDirective機能のテスト。消してもおｋ -->
                        <p>{{angTest}}</p>
                    </div>
                </div>
            </ons-page>
        </ons-template>
        <!-- end/楽器ページの内容 -->

                <!-- メニュー部分 -->
        <ons-template id="menu.html">
            <ons-list>
                <ons-list-item modifier="chevron" ng-click="menu.setMainPage('index.html', {closeMenu: true})">
                    楽器ページ
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="menu.setMainPage('shop.html', {closeMenu: true})">
                    店舗一覧
                </ons-list-item>
            </ons-list>
        </ons-template>
        <!-- end/メニュー部分 -->
        <script src="onsen/js/angular/angular.js"></script>
        <script src="onsen/js/onsenui.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>