<ons-page ng-controller="MapController">
    <!-- メニュー上部のツールバー -->
    <ons-toolbar>
        <div class="right"><!-- サイドバーを開くボタン -->
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">会場マップ</div><!-- ページタイトル -->
    </ons-toolbar>
    <!-- end/メニュー上部のツールバー -->
    <div class="app">
        <div id="main_map">
            <div id="map">
            </div>
            <div class="sub">
                <div class="subList1" id="opa1" ng-click="touch(1)"></div>
                <div class="subList2" id="opa2" ng-click="touch(2)"></div>
                <div class="subList3" id="opa3" ng-click="touch(3)"></div>
                <div class="subList4" id="opa4" ng-click="touch(4)"></div>
            </div>

            <div class="mapList">
                <div id="lst1">
                    <p><span>1.クイーン・アリス&nbsp;アクア</span></p>
                    <p><span>2.ジュースステーション</span></p>
                    <p><span>3.アビエーターグリル</span></p>
                    <p><span>4.海上楼</span></p>
                    <p><span>5.回転寿司丸忠</span></p>
                    <p><span>8.ベーグル&amp;ベーグル</span></p>
                    <p><span>9.スープストック&nbsp;トウキョー</span></p>
                    <p><span>10.KITCHEN&nbsp;どんぶり</span></p>
                    <p><span>11.新打工房&nbsp;きしめん&nbsp;美濃味匠</span></p>
                    <p><span>12.極旨醤油ら〜めん&nbsp;一刻魅堂</span></p>
                    <p><span>17.UNIQLO</span></p>
                    <p><span>18.オージュドゥイ</span></p>
                    <p><span>19.SPECCHIO</span></p>
                    <p><span>20.Tabio&nbsp;on&nbsp;the&nbsp;Ground</span></p>
                    <p><span>21.MODECO</span></p>


                </div>
                <div id="lst2">
                    <p><span>31.ダイニングレストラン&nbsp;かめりあ</span></p>
                    <p><span>32.まるは食堂</span></p>
                    <p><span>33.スターバックスコーヒー</span></p>
                    <p><span>34.沙羅餐</span></p>
                    <p><span>35.鈴波</span></p>
                </div>
                <div id="lst3">
                    <p><span>6.みそかつ矢場とん</span></p>
                    <p><span>7.石焼ビビンバ・冷麺&nbsp;トラジ</span></p>
                    <p><span>13.フレッシュネスバーガー</span></p>
                    <p><span>14.カフェ・ド・クリエプラス</span></p>
                    <p><span>15.caf&eacute;ゆとりの空間</span></p>
                    <p><span>16.セントレアオフィシャルショップ</span></p>
                    <p><span>22.SAC'S BAR Jean</span></p>
                    <p><span>23.IZONE NEW YORK</span></p>
                    <p><span>24.yb.Friend's</span></p>
                    <p><span>25.無印用品</span></p>
                    <p><span>26.マライカ</span></p>
                    <p><span>27.Hello&nbsp;Kitty&nbsp;Japan</span></p>
                    <p><span>28.ドラスティック・ザ・バゲージ</span></p>
                    <p><span>29.アビステブティック</span></p>
                    <p><span>30.TSUTAYA</span></p>
                </div>
                <div id="lst4">
                    <p><span>36.えびせんべいの里</span></p>
                    <p><span>37.めいふつ&nbsp;天むす&nbsp;千寿</span></p>
                    <p><span>38.鶏三和</span></p>
                    <p><span>39.世界の山ちゃん</span></p>
                    <p><span>40.ヤマサちくわ</span></p>
                    <p><span>41.芋花恋</span></p>
                    <p><span>42.西条園抹茶カフェ</span></p>
                    <p><span>43.柿安柿次郎</span></p>
                    <p><span>44.季果旬菜の店あぐりす</span></p>
                    <p><span>45.綱元直売&nbsp;魚太郎</span></p>
                    <p><span>46.元祖モダン焼きの店&nbsp;ぼてや</span></p>
                    <p><span>47.満天</span></p>
                    <p><span>48.おかゆと麺の店粥餐庁</span></p>
                    <p><span>49.四代目鍵三&nbsp;宮きしめん</span></p>
                    <p><span>50.とんかつ和幸</span></p>
                    <p><span>51.まるや本店</span></p>
                    <p><span>52.若鯱家</span></p>
                    <p><span>53.オリエンタルキッチン</span></p>
                    <p><span>54.豆天狗</span></p>
                    <p><span>55.味仙</span></p>
                    <p><span>56.とんこつらーめん麺達</span></p>
                    <p><span>57.和の間</span></p>
                    <p><span>58.吉田商店</span></p>
                    <p><span>59.MONO</span></p>
                    <p><span>60.Warakuya&nbsp;Okame&nbsp;日本館</span></p>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="css/map.css">
</ons-page>