<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<!-- メニュー部分 -->
<ons-page ng-controller="MenuController">
    <ons-list>
        <ons-list-item modifier="chevron" id="m_music" ng-click="menu.setMainPage('sound.html', {closeMenu: true});curr_page($event);" ng-class='{"curr_page":page_name == "m_music"}'>
            <i class="fa fa-music"></i>&nbsp;&nbsp;なぞの楽器
        </ons-list-item>
        <ons-list-item modifier="chevron" id="m_chara" ng-click="menu.setMainPage('character.html', {closeMenu: true});curr_page($event);" ng-class='{"curr_page":page_name == "m_chara"}'>
            <i class="fa fa-smile-o"></i>&nbsp;&nbsp;キャラクター紹介
        </ons-list-item>
        <ons-list-item modifier="chevron" id="m_promo" ng-click="menu.setMainPage('promotion.html', {closeMenu: true});curr_page($event);" ng-class='{"curr_page":page_name == "m_promo"}'>
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;このアプリについて
        </ons-list-item>
        <ons-list-item modifier="chevron" id="m_disc" ng-click="menu.setMainPage('Disclaimer.html', {closeMenu: true});curr_page($event);" ng-class='{"curr_page":page_name == "m_disc"}'>
            <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;免責事項
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="webView('http://www.centrair.jp/')">
            <i class="fa fa-external-link"></i>&nbsp;&nbsp;中部国際空港公式サイト
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="webView('http://www.centrair.jp/')">
            <i class="fa fa-external-link"></i>&nbsp;&nbsp;空港音楽祭公式サイト
        </ons-list-item>
    </ons-list>
    <div id="menu_chara"></div>
</ons-page>
<!-- end/メニュー部分 -->